.itemDetail{
    border: 1px black solid;
    width: 100px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    margin: 10px;
    background-color: rgba(63, 55, 43, 0.664);
    padding: 20px;
}

.itemDetail img{    
    margin: 10px;
    height: 50vh;
}

.sacar{
    overflow-y: hidden;    
}

@media (min-width: 768px) {
    .itemDetail{
        width: 90vw;
        flex-direction: row;
        height: 70vh;
        margin: 40px;
        padding: 20px;
    }

    .itemDetail img{
        width: 35vw;
        height: auto;
        padding-right: 50px;        
    }
}