.container-items{
    text-align: center;
    height: 200px;
    border: 2px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#003300;
    background-color: #e0e0d1;
}